# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and temp files
*.log
*.tmp
*.bak

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code / PyCharm / IDE settings
.vscode/
.idea/

# Model artifacts
*.pkl
